@model IEnumerable<FakeReddit.ViewModels.SubRedditPostsViewModel>
<style>
    h2 {
        text-transform: capitalize;
    }




</style>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";


}


<div class="row">
        <div class="col-lg-8">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-lg-4">

            @Html.ActionLink("Add Post", "New", "Posts", new { Id = @ViewBag.SubId }, new { @class = "btn btn-success btn-block btn-lg", @style= "min-height: 53px; margin-bottom: 5px; margin-top: 5px;line-height: 180%;" })
        </div>

</div>
<hr />
<div class="row" style="">
    @foreach (var item in Model)
    {
    <div class="col-lg-12" style="background-color:#effbfb; border-radius: 10px; margin-bottom: 4px; padding-bottom:20px; border: 1px solid #a0a0a0;">

        <div class="col-lg-11">
            <h3 style="">@item.Title</h3><br />
            @item.UserName <br />
            @Html.ActionLink("View Comments" , "GetComment", "Comments", new {ID= item.PostID},null) (@item.ComCount)
        </div>
        <div class="col-lg-1 text-center">
            <div class="row">
                <div class="col-lg-12">
                    @Html.ActionLink("▲", "AddVote", "UserVotes", new { id = item.PostID, type = 1 }, null)

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @item.VoteCount

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @Html.ActionLink("▼", "AddVote", "UserVotes", new { id = item.PostID, type = -1 }, null)

                </div>
            </div>
        </div>






        @*<div class="col-lg-11">
            <a href="#"><h2>@item.Title</h2></a>
        </div>
        <div class="col-lg-1">▲</div>


        <div class="col-lg-11">
            @item.Content
        </div>
        <div class="col-lg-1">@item.VoteCount</div>


        <div class="col-lg-11">
            @item.UserName
        </div>
        <div class="col-lg-1">▼</div>*@



        @*<div class="col-lg-6">@item.Content</div>
        <div class="col-lg-12">@item.UserName</div>*@





    </div>
  
    }
</div>