@model IEnumerable<FakeReddit.ViewModels.SubRedditPostsViewModel>


@{
    ViewBag.Title = "SubReddits";
    Layout = "~/Views/Shared/_Layout.cshtml";


}



<h2>@ViewBag.Title</h2>
<div class="row" style="border-top:1px solid black">
    @foreach (var item in Model)
    {
    <div class="col-lg-12" style="background-color:lightgrey; border-bottom:1px solid Black ">
        <div class="col-lg-12">
            <a href="#"><h2>@item.Title</h2></a>
        </div>

        <div class="col-lg-6">@item.Content</div>
        <div class="col-lg-6 text-right">@item.VoteCount</div>
        <div class="col-lg-4">@item.UserName</div>





    </div>
  
    }
</div>